%br
%br
%br
%br
%br
.offset7.span4
  %p #{@oidreq.trust_root} would like to:
  %ul
    - (@simple_registration_request.required + @simple_registration_request.optional).each do |field|
      %li View your #{field}
  %br
  %form{:action => url_for(:controller => 'open_id', :action => 'decision'), :method => "post"}
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
    %input{:name => "no", :type => "submit", :value => "Cancel", :class => "btn"}
    %input{:name => "yes", :type => "submit", :value => "Accept", :class => "btn btn-primary"}
