- if Guisso::Settings.recaptcha?
  .control-group{ class: flash[:recaptcha_error].present? ? "error" : "" }
    = recaptcha_tags #(class: 'control-group')
    %span.help-inline
      = flash[:recaptcha_error]
