/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "instedd-bootstrap";

.row.centred {
  margin: 0;

  > div {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

[class*="span"].centred {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

$orange: #ff6600;

.box {
  @extend .table-bordered;
  @extend .table-condensed;
  @include box-shadow( 0 1px 5px rgba(0,0,0,.15));
  display: table;
  padding: 14px 9px;

  hr {
    margin: 7px 0;
  }
}

h1.orange{
  font-size: 24px;
  line-height: 24px;
  color: $orange;
}

.content {
  a:not(.btn) {
    color: $orange;
    &:hover {
      color: darken($orange, 10%);
    }
  }
}

a.google {
  width: 216px;
  height: 42px;
  display: block;
  margin-left: -5px;
  background: image-url('White-signin-Long-32dp/White-signin-Long-base-32dp.png');
  &:hover {
    background: image-url('White-signin-Long-32dp/White-signin-Long-hover-32dp.png');
  }
  &:active {
    background: image-url('White-signin-Long-32dp/White-signin-Long-press-32dp.png');
  }
}

.block {
  width: 100%;
}

// ---- Sign in view -----------------
// -----------------------------------

.app-header{
  height: 40px;
}

.app-logo{
  margin: 20px auto;
}

.simple_form.new_user#new_user{
  margin-top: 8px;
  margin-bottom: 8px;
}

.control-group{
  #remember_me.checkbox {
    padding-top: 0px;
  }
  #remember_me {
    label {
      line-height: 12px;
    }
    input {
      margin-top: 0px;
    }
  }
}

// ---- Instedd apps icon list -----------------
// ---------------------------------------------

#instedd_apps_icon_list {
  li {
    display: inline-block;
    margin: 0 3px;
    a {
      background: url(image-path("icons.png")) no-repeat;
      display: block;
      text-indent: -999em;
      overflow: hidden;
      width:40px;
      height:40px;
    }
    &#geochat a {
      background-position: 0 0;
    }
    &#mesh4X a {
      background-position: (-40*1px) 0;
    }
    &#nuntium a {
      background-position: (-40*2px) 0;
    }
    &#localGateway a {
      background-position: (-40*3px) 0;
    }
    &#pollit a {
      background-position: (-40*4px) 0;
    }
    &#remindem a {
      background-position: (-40*5px) 0;
    }
    &#reportingWheel a {
      background-position: (-40*6px) 0;
    }
    &#resourceMap a {
      background-position: (-40*7px) 0;
    }
    &#riff a {
      background-position: (-40*8px) 0;
    }
    &#seentags a {
      background-position: (-40*9px) 0;
    }
    &#taskMeUp a {
      background-position: (-40*10px) 0;
    }
    &#veegilo a {
      background-position: (-40*11px) 0;
      background-repeat: no-repeat;
    }
    &#verboice a {
      background-position: (-40*12px) 0;
      background-repeat: no-repeat;
    }
    &#mbuilder a {
      background-position: (-40*15px) 0;
    }
  }
}


//-------------- Home --------------------------
//----------------------------------------------

.homepage {

  text-align: center;

  .row-fluid {
    margin-bottom: 20px;
  }

  h1 {
    font-family: TheSansBlack, Arial, Helvetica, sans-serif;
    font-size: 46px;
    line-height: 47px;
    color: #ff6600;
    margin: 10px 0;

    small {
      font-family: TheSansPlain, Arial, Helvetica, sans-serif;
      font-size: 24px;
      color: inherit;
      line-height: 24px;
      margin-bottom: 18px;
      margin-top: 10px;
      display: block;
    }
  }

  .main-img {
    margin-top: 50px;
  }

  .onepager {
    text-align: right;
    padding-top: 40px;
    a {
      color: #555555 !important;
    }
  }
}

#platform {
  margin: 10px auto;
  width: 600px;
  height: 600px;

  .label {
    background: none;
    font-size: 12px;
    text-align: center;
    color: #555555;
    margin:0;
    text-shadow:none;
    white-space: normal;
  }

  .enabled {
    stroke: #555555;
  }

  .disabled {
    stroke: #cccccc;
  }
  g[data-type="app"] {
    @include transition(opacity ease-out 0.2s);
  }
}

.cases {
  > div {
    display: none;
    min-height: 150px;

    &:first-child {
      display: block;
    }

    h1 {
      color: #999999;

      span {
        color: #000000;
      }
    }
  }
}
