<form method="post" action="<%= url_for :controller => 'server', :action => 'decision' %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<table>
  <tr><td>Site:</td><td><%= @oidreq.trust_root %></td></tr>
  <tr><td>Identity:</td><td><%= current_user.email %></td></tr>
</table>

<input type="submit" name="yes" value="yes" />
<input type="submit" name="no" value="no" />

</form>
