- content_for :html_title do
  Login InSTEDD.org

- content_for :app_name do
  InSTEDD Platform

- content_for :app_logo do
  - image_tag "instedd-bootstrap/header/logos/guisso.png"

- content_for :app_version do
  = Guisso::Application.config.version_name

- top_nav_bar do
  - unless current_user.nil?
    - top_nav_bar_item "Authorizations", authorizations_path, params[:controller] == "authorizations"
    - top_nav_bar_item "Tokens", access_tokens_path, params[:controller] == "access_tokens"
    - top_nav_bar_item "Applications", applications_path, params[:controller] == "applications"

- if current_user.nil?
  - add_body_class "noheader centred"
= render template: 'instedd/application_smallfooter'

= telemetry_warning
